@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
	margin:0;
	text-align: center;
}


ul {
	list-style-type: none;
	text-align: center;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	
}

li {
	display: inline-block;
	margin: 10px;
}

a:hover {
	background-color: white;
	color: black;
}
 


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
	color: white;
	margin-left: 90px;
	text-align: left;
	margin-top: 100px;
	margin-bottom: 0;
	
    
    
}

.contact p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
	color: white;
	margin-left: 90px;
	text-align: left;
	margin-top: 100px;
	margin-bottom: 0;
	
    
    
}


.jeff p {
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	color: white;
	text-align: left;
	
}


.row img { 
	width: 15%;

}

.jeff img{
	postion: absolute;
	width: 15%;
	float: left;
	margin-top: 0px;
	margin-left: 80px;
	padding-right: 20px;
	
}

.class div {
	margin-top: 100px;
	margin-left: 0;
	float: left;
	
	
}

label {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: white;
	padding-top: 10px;
}

form {
	float:left;
	margin-left: 80px;
}